

<style>
    .tabs_header .tab_btn.active {
        border-style : solid;
        border-bottom-width : 1px;
        border-color : black;
    }
</style>



<div class="flex mb-2 tabs_header">
    <a class="tab_btn inline-block mr-4 cursor-pointer font-light active">Desription</a>
    <a class="tab_btn inline-block mr-4 cursor-pointer font-light">Quality</a>
    <a class="tab_btn inline-block mr-4 cursor-pointer  font-light">7 Days Return/Exchange</a>
</div>


<div class="tab_content_wrapper w-fit">
    <div class="tab_content ">
        <p>{{ product.description }}</p>
    </div>
    <div class="tab_content  hidden">
      <ul>
        <li>100% Pure Premium French Terry Cotton - Unparalleled Quality</li>
<li>DTF Print Technology - Vibrant and Long-Lasting Designs</li>
<li>Elevates Your Style - Uncompromising Craftsmanship Indulge in the perfect blend of luxury and durability. Your style, our commitment!</li>
      </ul>
        
    </div>
    <div class="tab_content hidden">
       <p> This piece fits true to size. We recommend you get your regular size. </p>

        <p>Model is 178 cm and is wearing a size 34.</p>
    </div>
    <div class="tab_content font-thin hidden">
        <p>Items purchased from Jugaad are eligible for return/exchange, if returned within 7 days of delivery.

 

<b>Free Exchanges</b>
We accept exchanges free of cost. This means you wont be charged extra to exchange the product(s). It's on us! We want your experience to be hassle-free.

<b>Easy Returns</b>

For Prepaid Orders - The full amount is refunded into your initial payment mode (bank account, credit card, etc.)

For Cash On Delivery : A refund will be initiated to the bank account that is provided by you at the time of raising a return.

Note : Return are accepted only if you recieved wrong/damaged. If the size doesn't fit as you expected you can exchange it withing 7 days. In order to accept the return the product must be unused.

<b>Exchange For Something Else?</b>
In case of an exchange, you are also allowed to choose a different product. If the value of the replacement product exceeds that of the previously purchased product, you can pay just the difference else if it's less, the same can be refunded to you as gift card.</p>
    </div>
</div>





<script>
    const tabs = document.querySelectorAll('.tab_btn');
    const all_content = document.querySelectorAll('.tab_content');

    tabs.forEach((tab,index) => {
        tab.addEventListener('click', () => {
            tabs.forEach(tab => {
                tab.classList.remove('active');
            });
            tab.classList.add('active');

            all_content.forEach(content => {
                content.classList.add('hidden')
            });
            all_content[index].classList.remove('hidden')
        })
    })
</script>

