<div class="w-screen md:w-[50vw] lg:h-[90vh] border-gray-500 border-b-[1px] flex justify-center items-center px-8">
  <div class="w-full mb-8 mt-10">
    <h5 class="text-[1rem] sm:text-[1.2rem] md:text-[1.4rem] font-light">Create Account</h5>
    {% form 'create_customer' %}
      <div class="mt-20 mb-6 flex">
        <div>
          <p class="mb-6">First Name</p>
          <input
            type="text"
            name="customer[first_name]"
            class="border-b-[1px] border-gray-600 outline-none focus:ring-0 w-[40vw] md:w-[80%]"
          >
        </div>
        <div class="ml-2">
          <p class="mb-6">Last Name</p>
          <input
            type="text"
            name="customer[last_name]"
            class="border-b-[1px] border-gray-600 outline-none focus:ring-0 w-[40vw] md:w-[80%]"
          >
        </div>
      </div>
      <p class="mt-6 mb-6">Email</p>
      <input
        type="email"
        name="customer[email]"
        class="border-b-[1px] border-gray-600 outline-none focus:ring-0 w-full md:w-4/5"
      >
      <p class="my-6">New Password</p>
      <input
        type="password"
        name="customer[password]"
        class="border-b-[1px] border-gray-600 outline-none focus:ring-0 w-full md:w-4/5"
      >
      <button type="submit" class="mt-6 h-fit py-2 rounded-3xl border border-gray-600 w-full md:w-4/5">Sign up</button>
      {% if form.errors %}
        <div class="reltive mt-2" role="alert">
          <p class="" style="color:red">{{ form.errors | default_errors }}</p>
        </div>
      {% endif %}
    {% endform %}
  </div>
</div>
