{% comment %}
  <!-- Initial Section -->



  <section class="Hero relative h-screen-90 w-screen">
    <div class="flex h-[10%] justify-end bg-white pr-2">
      <div class="md:flex flex-grow hidden items-center">
        <label class="my-auto text-sm w-[40vw] ml-2 border-l-[1px] border-black pl-1">No compromise on quality, everyone deserves to embrace the fashion with unstoppable style!</label>
      </div>
      <div class="flex">
      <label class="my-auto text-2xl sm:text-4xl">SHOP THE DROP</label>
      </div>
    </div>
    <div class="h-[90%]">
      <div class="swiper mySwiper ContentArea relative h-full">
        <div class="swiper-wrapper h-full">
          <!-- Slide 1 -->
          <div class="swiper-slide">
            <div class="flex h-full w-screen items-end justify-end bg-[#4C56D7] bg-opacity-5">

              <img src="https://ik.imagekit.io/zemurqxma/Portfolio-1/pexels-ricardo-acevedo-1375736.png?updatedAt=1699026103837" class="absolute top-0 h-[90%] w-screen object-cover object-top sm:h-full sm:w-[60vw]" loading="lazy"/>


            </div>
            <div class="absolute bottom-0 flex">
              <div>
                <div class="ProductInfo w-[200px] rounded bg-white p-4 sm:ml-10 sm:w-[280px] sm:bg-opacity-10 md:w-[520px]">
                  <h4 class="text-xl sm:text-3xl md:text-6xl">PURPLE - WOLLEN COAT</h4>
                  <h5 class="mt-2 text-base sm:text-xl md:text-2xl">SIZE</h5>
                  <div class="mt-2 h-[24px] sm:h-[50px] md:h-[80px]"></div>
                  <button class="mt-2 bg-[#4C56D7] px-10 py-2 text-white sm:px-14">QUICK ADD</button>
                </div>
              </div>
            </div>
          </div>

          <!-- slide 1 end -->
          <!-- Slide 2 -->
          <div class="swiper-slide h-full">
            <div class="flex h-full w-screen items-end justify-end bg-[#C3A187] bg-opacity-5">
              <img src="https://ik.imagekit.io/zemurqxma/Portfolio-1/pexels-harry-cooke-6533894.png?updatedAt=1699089209368" class="absolute top-0 h-[90%] w-screen object-cover object-top sm:h-full sm:w-screen-1/2" loading="lazy" />
            </div>
            <div class="absolute bottom-0 flex">
              <div>
                <div class="ProductInfo w-[200px] rounded bg-white p-4 sm:ml-10 sm:w-[280px] sm:bg-opacity-10 md:w-[520px]">
                  <h4 class="text-xl sm:text-3xl md:text-6xl">BROWN - CLASSIC COAT</h4>
                  <h5 class="mt-2 text-base sm:text-xl md:text-2xl">SIZE</h5>
                  <div class="mt-2 h-[24px] sm:h-[50px] md:h-[80px]"></div>
                  <button class="mt-2 bg-[#C3A187] px-10 py-2 text-white sm:px-14">QUICK ADD</button>
                </div>
              </div>
            </div>
          </div>
          <!-- slide 2 end -->
        </div>

        <div class="absolute bottom-4 right-0 flex sm:bottom-0 sm:right-4 z-10">
          <div class="mr-1 h-[50px] w-[50px] border bg-white sm:m-2 sm:h-[80px] sm:w-[80px] flex justify-center items-center">
            <div class="swiper-button-next mx-auto"></div>
          </div>
          <div class="mr-1 h-[50px] w-[50px] border bg-white sm:m-2 sm:h-[80px] sm:w-[80px]">
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      speed : 500,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      autoplay: {
        delay: 1500,
        disableOnInteraction: true,
    },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

  <!-- Initial Section End -->
{% endcomment %}
