<div class="w-screen grid grid-cols-1 md:grid-cols-2 bg-black">
    <div class="bg-cover opacity-80 relative w-full" style="background-image: url('https://images.unsplash.com/photo-1512374382149-233c42b6a83b?auto=format&fit=crop&q=80&w=2835&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); height: 100vh">
        <div class="mx-auto w-full absolute bottom-0 left-0 mb-10 ml-10">
              <h3>
                <a
                  href="filters.html"
                  class="mb-3 block text-lg font-bold text-white hover:text-primary xs:text-xl sm:text-2xl lg:text-xl xl:text-2xl"
                >
                  Summer Travel Collection
                </a>
              </h3>
              <a
                href="filters.html"
                class="text-base font-semibold text-black hover:text-primary"
              >
                <button class="bg-white p-4 rounded">
                Shop Now
                </button>
              </a>
        </div>  
    </div>
    <div class="bg-cover opacity-80 relative w-full" style="background-image: url('https://images.unsplash.com/photo-1542838776-096d877b5aa2?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D'); height: 100vh">
        <div class="mx-auto w-full absolute bottom-0 left-0 mb-10 ml-10">
            <h3>
              <a
                href="filters.html"
                class="mb-3 text-lg font-bold text-white hover:text-primary xs:text-xl sm:text-2xl lg:text-xl xl:text-2xl"
              >
                Summer Travel Collection
              </a>
            </h3>
            <a
              href="filters.html"
              class="text-base font-semibold text-black hover:text-primary"
            >
              <button class="bg-white p-4 rounded">
              Shop Now
              </button>
            </a>
        </div> 
    </div>
</div>
