
<div class="grid grid-cols-1 md:grid-cols-2 gap-x-2 mt-4 max-w-screen">
    <div class="product1 p-8">
        <div class="bg-cover relative h-[600px] md:h-screen" style="background-image: url('https://images.unsplash.com/photo-1588361861040-ac9b1018f6d5?auto=format&fit=crop&q=80&w=2864&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
        </div>
        <span>
            <h4 class="mt-4 text-3xl text-gray-600"> Nike Air Force 1 </h4>
            <h4 class="mt-4 text-gray-600"> These legendary kicks, known for their timeless design and unmatched comfort, have been a symbol of street style for decades. </h4>
            <a href="#"><h4 class="mt-4 text-xl text-underline text-black"> SHOP NOW &#8594 </h4></a>
        </span>
    </div>
    <div class="product2 p-8">
        <div class="bg-cover relative h-[600px] md:h-screen" style="background-image: url('https://images.unsplash.com/photo-1560769629-975ec94e6a86?auto=format&fit=crop&q=80&w=2864&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
        </div>
        <span>
            <h4 class="mt-4 text-3xl text-gray-600"> Max Sole X </h4>
            <h4 class="mt-4  text-gray-600"> Shoes that seamlessly blend style and performance, delivering cutting-edge design and unmatched comfort for the modern urban explorer </h4>
            <a href="#"><h4 class="mt-4 text-xl text-underline text-black"> SHOP NOW &#8594 </h4></a>
        </span>
    </div>
</div>
