<section class="bg-[#f7f6f3] border-b-[1px] border-gray-500 fixed bottom-0 left-0 w-screen">
  <div class="flex py-5 pl-2 text-stone-500">
    <h6 class="text-[0.4rem] sm:text-[0.6rem] md:text-[0.8rem] font-light pr-2">©</h6>
    <h6 class="text-[0.4rem] sm:text-[0.6rem] md:text-[0.8rem] font-light">DAMOR DEVELOPED BY GUNA</h6>
  </div>
</section>
