<section class="bg-[#f7f6f3] border-b-[1px] border-gray-500  w-screen sticky bottom-0">
  <div class="flex py-5 pl-2 text-stone-500">
    <h6 class="text-[0.4rem] sm:text-[0.6rem] md:text-[0.8rem] font-light pr-2">© 2024</h6>
    <h6 class="text-[0.4rem] sm:text-[0.6rem] md:text-[0.8rem] font-light">STREETS OF JUGAAD</h6>
  </div>
</section>

{% comment %}
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {var createPostShipCss= document.createElement('link');createPostShipCss.setAttribute('rel','stylesheet');
    createPostShipCss.setAttribute('href','https://kr-shipmultichannel-mum.s3-ap-south-1.amazonaws.com/shiprocket-fronted/shiprocket_post_ship.css');
      document.body.appendChild(createPostShipCss);
    var createPostShipScript= document.createElement('script');
    createPostShipScript.setAttribute('onload','changeData()');
     createPostShipScript.setAttribute('src','https://kr-shipmultichannel-mum.s3-ap-south-1.amazonaws.com/shiprocket-fronted/shiprocket_post_ship.js');
    document.body.appendChild(createPostShipScript);});
    function changeData(){document.querySelector('.post-ship-btn').style.backgroundColor = '#000000';
    document.querySelector('.post-ship-btn').style.color = '#ffffff';
    document.querySelector('.post-ship-box-wrp').style.backgroundColor = '#000000';
    document.querySelector('.post-ship-box-wrp div').style.color = '#ffffff';
    document.querySelector('.post-ship-box-wrp h1').style.color='#ffffff';
    document.querySelector('.post-ship-box-wrp button').style.backgroundColor = '#ffffff';
    document.querySelector('.post-ship-box-wrp button').style.color = '#000000';}
  </script>
{% endcomment %}
