<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet" />
<style>
  :root {
  font-family: 'IBM Plex Sans', sans-serif;
  }
</style>

<div class="w-screen bg-gray-300">

    <div class="lg:h-[38rem] mx-auto flex max-w-screen-xl flex-col space-y-6 overflow-hidden px-6 pb-16 lg:flex-row lg:items-center">
        <div class="w-full lg:w-1/2">
            <div class="mt-10 lg:max-w-lg">
                <p class="mb-4">— &nbsp&nbsp Top Collections</p>
                <h1 class="font-[900] text-3xl text-gray-900 lg:text-5xl lg:leading-snug">Elevate your style with our trend-setting designs</h1>

                <div class="mt-8 space-y-5 text-gray-600">Discover the fashion revolution you've been missing. Click 'Explore' now and seize the moment!</div>
            </div>

            <div class="mt-8 w-full rounded-md bg-transparent lg:max-w-md">
                
                
                <a href="{{ routes.all_products_collection_url }}">
                <button type="button" class="m-1 h-12 transform rounded-md bg-thirdcolor px-4 py-2 text-white transition-colors duration-200 focus:bg-gray-700 focus:outline-none hover:bg-gray-700">Explore Collections</button>
                </a>
            </div>
        </div>

        <div class="relative hidden h-full w-full items-center justify-center lg:flex lg:w-1/2">
            <div class="absolute z-10 lg:left-0">
                <div class="flex items-center rounded-md border border-gray-100 bg-white px-4 py-3 shadow-lg">
                    <p class="ml-4 w-56">
                        <strong class="block text-lg font-medium">{{ collections['frontpage'].products[0].title }}</strong>
                        <span class="text-xs text-gray-400"> Rs. 800 </span>
                    </p>
                </div>
                <div class="mt-2 flex flex-col items-start rounded-md border border-gray-100 bg-white px-4 pt-3 pb-6 shadow-lg">
                    <strong class="block text-lg font-medium">Achieved</strong>
                    <div class="mt-4 flex items-center text-xs text-gray-400">
                        Purchaces
                        <div class="ml-4 h-4 w-56 overflow-hidden rounded-md bg-gray-100">
                            <div class="h-full w-4/5 bg-green-500"></div>
                        </div>
                    </div>

                    <div class="mt-4 flex items-center text-xs text-gray-400">
                        Impressions
                        <div class="ml-4 h-4 w-56 overflow-hidden rounded-md bg-gray-100">
                            <div class="h-full w-1/8 bg-maincolor"></div>
                        </div>
                    </div>
                </div>
            </div>

            <img class="-scale-x-100 mt-auto ml-auto h-4/6 object-cover lg:max-w-2xl" src="{{ collections['frontpage'].products[0].featured_image | image_url }}" alt="glasses photo" />
        </div>
    </div>
</div>
