<section class="collectionPage">
 <div class="collection_title_wrapper">
    <div class="w-screen grid grid-cols-1 md:grid-cols-3 divide-x-[1px] divide-y-[1px] md:divide-y-0 divide-gray-500">
      <div class="wrapper_title col-span-2 p-4">
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-light">Collections</h4>
      </div>
      <div class="filters_wrapper flex p-4">
        
      </div>
    </div>
  </div>
  <div class="collectionItems_wrapper">
    <section
      id="ps01r"
      class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-3 border-y-[1px] border-gray-500"
    >
      {% for collection in collections %}
      <div class="p-1 h-fit w-full border-b-[1px] border-r-[1px] border-gray-500">
        <a href="{{ collection.url }}">
    <div class="p-1 h-fit w-full p-5">
      <img
        class="h-auto w-full flex justify-center mx-auto"
        src="{{ collection.featured_image | image_url }}"
      >
      <h4 class="text-[0.9rem] font-extralight pt-1">{{ collection.title | upcase }}</h4>
      <h4 class="text-[0.7rem] font-extralight pt-1 mb-2">SHOP THESE</h4>
    </div>
  </a>
      </div>
    {% endfor %}
    </section>
  </div>
</section>

