<!-- component -->
<div class="flex items-center justify-center w-screen min-h-screen bg-maincolor bg-fixed bg-cover bg-bottom error-bg"
	style="background-image: url(https://images.unsplash.com/photo-1493144984793-f8b29c544bb5?auto=format&fit=crop&q=80&w=2942&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">

	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2 text-gray-50 text-center -mt-52">
				<div class="relative ">
				<h1 class="relative text-9xl tracking-tighter-less text-shadow font-sans font-bold">
					<span>4</span><span>0</span><span>4</span></h1>
					<span class="absolute  top-0   -ml-12  text-gray-300 font-semibold">Oops!</span>
					</div>
				<h5 class="text-gray-300 font-semibold w-screen -mt-3">Page not found</h5>
				<p class="text-gray-100 mt-2 mb-6">we are sorry, but the page you requested was not found</p>
				<a
					class="bg-maincolor px-5 py-3 text-sm font-medium tracking-wider text-white">
					Take Me Home
				</a>
			</div>
		</div>
	</div>
</div>


<style>
	.error-bg {
		background-image: url("https://images.unsplash.com/photo-1493144984793-f8b29c544bb5?auto=format&fit=crop&q=80&w=2942&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	}
	.tracking-tighter-less {
		letter-spacing: -0.75rem;
	}
	.text-shadow {
		text-shadow: -8px 0 0 rgb(92, 58, 58);
	}
</style>