<div class="py-5 px-5">
{% paginate collection.products by 20 %}
<h2 class="block font-sans text-4xl font-semibold leading-[1.3] tracking-normal text-inherit antialiased ">
    {{ collection.title }}
  </h2>
  <div className="w-1/2 text-left">
    <nav aria-label="breadcrumb" class="w-max">
      <ol class="flex w-full flex-wrap items-center rounded-md bg-blue-gray-50 bg-opacity-60 py-2 ">
        <li class="flex cursor-pointer items-center font-sans text-sm font-normal leading-normal text-blue-gray-900 antialiased transition-colors duration-300 hover:text-pink-500">
          <a class="opacity-60" href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
            </svg>
          </a>
          <span class="pointer-events-none mx-2 select-none font-sans text-sm font-normal leading-normal text-blue-gray-500 antialiased">
            /
          </span>
        </li>
        <li class="flex cursor-pointer items-center font-sans text-sm font-normal leading-normal text-blue-gray-900 antialiased transition-colors duration-300 hover:text-pink-500">
          <a class="opacity-60" href="#">
            <span>Collections</span>
          </a>
          <span class="pointer-events-none mx-2 select-none font-sans text-sm font-normal leading-normal text-blue-gray-500 antialiased">
            /
          </span>
        </li>
        <li class="flex cursor-pointer items-center font-sans text-sm font-normal leading-normal text-blue-gray-900 antialiased transition-colors duration-300 hover:text-pink-500">
          <a
            class="font-medium text-blue-gray-900 transition-colors hover:text-pink-500"
            href="#"
          >
            All
          </a>
        </li>
      </ol>
    </nav>
    <div class= "max-w-6xl mx-auto" >
        <div class="grid grid-cols-2 mx-auto md:grid-cols-4 gap-2">
            {% for product in collection.products %}
                {% render 'productcardV4', product : product %}
            {% endfor %}
        </div>
    </div>
    <div class="flex justify-center">
        {% render 'pagination', pagination : paginate %}
        </div>

{% endpaginate %}
</div>