<section class="h-screen w-screen flex items-center justify-center">
  <div class="text-center">
    <h6 class="text-[1rem] sm:text-[1.2rem] md:text-[1.4rem] font-light">404</h6>
    <p class="text-[0.7rem] font-extralight">Not Found</p>
  </div>
</section>
