
{% form 'contact' %}
<section class="bg-white">
  <div class="container px-6 py-12 mx-auto">
      <div>
          <p class="font-medium text-secondcolor">Contact us</p>

          <h1 class="mt-2 text-2xl font-semibold text-gray-800 md:text-3xl">Chat to our friendly team</h1>

          <p class="mt-3 text-gray-500 ">We’d love to hear from you. Please fill out this form or shoot us an email.</p>
      </div>

      <div class="grid grid-cols-1 gap-12 mt-10 lg:grid-cols-2">
          <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
              <div>
                  <span class="inline-block p-3 text-maincolor rounded-full bg-red-50 ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                      </svg>                      
                  </span>

                  <h2 class="mt-4 text-base font-medium text-gray-800">Email</h2>
                  <p class="mt-2 text-sm text-gray-500 ">Our friendly team is here to help.</p>
                  <p class="mt-2 text-sm text-secondcolor ">guna@dev.com</p>
              </div>

              <div>
                  <span class="inline-block p-3 text-maincolor rounded-full bg-red-50">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                      </svg>                      
                      
                  </span>
                  
                  <h2 class="mt-4 text-base font-medium text-gray-800 ">Live chat</h2>
                  <p class="mt-2 text-sm text-gray-500 ">Our friendly team is here to help.</p>
                  <p class="mt-2 text-sm text-gray-300 ">Coming Soon</p>
              </div>

              <div>
                  <span class="inline-block p-3 text-maincolor rounded-full bg-red-50 ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                      </svg>
                  </span>
                  
                  <h2 class="mt-4 text-base font-medium text-gray-800 ">Office</h2>
                  <p class="mt-2 text-sm text-gray-500 ">Come say hello at our office HQ.</p>
                  <p class="mt-2 text-sm text-secondcolor ">Address Adress Adress Adress</p>
              </div>

              <div>
                  <span class="inline-block p-3 text-maincolor rounded-full bg-red-50 ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 3.75v4.5m0-4.5h-4.5m4.5 0l-6 6m3 12c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
                      </svg>
                      
                  </span>
                  
                  <h2 class="mt-4 text-base font-medium text-gray-800 ">Phone</h2>
                  <p class="mt-2 text-sm text-gray-500 ">Mon-Fri from 8am to 5pm.</p>
                  <p class="mt-2 text-sm text-secondcolor ">+1 (212) 000-0000</p>
              </div>
          </div>

          <div class="p-4 py-6 rounded-lg bg-stone-50  md:p-8">
            <div class="mx-auto justify center w-fit">
            {% if form.posted_successfully? %} <div class="text-green-500"> Sent successfully. We will reply within 24hrs </div>{% endif %}
            <div class="text-red-500">{{ form.errors | default_errors }}</div>
            </div>
                  <div class="-mx-2 mt-4 md:items-center md:flex">
                   
                      <div class="flex-1 px-2">
                          <label class="block mb-2 text-sm text-gray-600 ">First Name</label>
                          <input type="text" name="contact[name]" placeholder="Guna " class="block w-full px-5 py-2.5 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                      </div>

                      <div class="flex-1 px-2 mt-4 md:mt-0">
                          <label class="block mb-2 text-sm text-gray-600">Last Name</label>
                          <input type="text" name="contact[name]" placeholder="Sundar" class="block w-full px-5 py-2.5 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                      </div>
                  </div>

                  <div class="mt-4">
                      <label class="block mb-2 text-sm text-gray-600">Email address</label>
                      <input type="email" name="contact[email]" placeholder="gunasundar@example.com" class="block w-full px-5 py-2.5 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                  </div>

                  <div class="w-full mt-4">
                      <label class="block mb-2 text-sm text-gray-600">Message</label>
                      <textarea name="contact[body]" class="block w-full h-32 px-5 py-2.5 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg md:h-56 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" placeholder="Message"></textarea>
                  </div>

                  <input type="submit" value="Send message" class="w-full px-6 py-3 mt-4 text-sm font-medium tracking-wide text-white hover:text-maincolor capitalize transition-colors duration-300 transform bg-maincolor hover:bg-white hover:border hover:border-maincolor">
                      
             
          </div>
      </div>
  </div>
</section>
{% endform %}