<section class="lg:flex w-screen text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-light">
  <div class="w-screen lg:w-[50vw] lg:h-[90vh] md:border-r-[1px] border-gray-500 border-b-[1px] flex flex-col items-center px-8">
    <div class="w-full mb-20">
      <h4 class="text-[1.5rem] mt-10"><b> Contact </b></h4>
      <div class="mt-20 grid grid-cols-2">
        <div class="">
          <div>
            <h6>Products and Orders</h6>
            <h6>products@streetsofjugaad.com</h6>
          </div>
          <div class="mt-8">
            <h6>Sales</h6>
            <h6>sales@streetsofjugaad.com</h6>
          </div>
          <div class="mt-8">
            <h6>Other Queries</h6>
            <h6>support@streetsofjugaad.com</h6>
          </div>
        </div>
        <div class="">
          <h6>Address</h6>
          <h6>4-222, Railway Station road</h6>
          <h6>Annavaram, 533406</h6>
          <h6>AP, India</h6>
        </div>
      </div>
      <div class="mt-20">
        <h6>Social</h6>
        <a href="https://www.instagram.com/streetsofjugaad"><h6>Instagram</h6></a>
        <h6>Facebook</h6>
      </div>
    </div>
  </div>

  <div class="w-screen lg:w-[50vw] lg:h-[90vh] border-b-[1px] border-gray-500 flex justify-center items-center px-8">
    <div class="w-full mb-8">
      <h4 class="text-[1rem] mt-10"><b> Send a query </b></h4>
      {% form 'contact' %}
        {% if form.errors %}
          <div class="reltive mt-2" role="alert">
            <p class="" style="color:red">{{ form.errors | default_errors }}</p>
          </div>
        {% endif %}
        <p class="mt-6 mb-6">Name</p>
        <input
          type="text"
          name="contact[name]"
          class="border-b-[1px] border-gray-600 outline-none focus:ring-0 w-full md:w-4/5"
        >
        <p class="my-6">Email</p>
        <input
          type="email"
          name="contact[email]"
          class="border-b-[1px] border-gray-600 outline-none focus:ring-0 w-full md:w-4/5"
        >
        <p class="my-6">Message</p>
        <textarea
          name="contact[body]"
          class="border-b-[1px] border-gray-600 h-[80px] outline-none focus:ring-0 w-full md:w-4/5"
        ></textarea>
        <button type="submit" class="mt-6 h-fit py-2 rounded-3xl border border-gray-600 w-full md:w-4/5">Submit</button>
      {% endform %}
    </div>
  </div>
</section>
