<div class="collection_title_wrapper">
    <div class="w-screen grid grid-cols-1 md:grid-cols-3 divide-x-[1px] divide-y-[1px] md:divide-y-0 divide-gray-500">
      <div class="wrapper_title col-span-2 p-4">
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-light">{{ page.title }}</h4>
      </div>
      <div class="filters_wrapper flex p-4">
        
      </div>
    </div>
  </div>

<div class="contentWrapper">
    <section
      id="ps01r"
      class="p-5 bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-3 border-y-[1px] border-gray-500"
    >
<div>{{ page.content }}</div>
    </section>
</div>