<div class="collection_title_wrapper">
    <div class="w-screen grid grid-cols-1 md:grid-cols-3 border-[1px] border-gray-500">
      <div class="wrapper_title col-span-2 p-4">
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-light">{{ page.title }}</h4>
      </div>
      <div class="filters_wrapper flex p-4">
        
      </div>
    </div>
  </div>

<div class="contentWrapper p-10 text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-light">
   
<div>{{ page.content }}</div>
 
</div>